<div class="container">
  <h1 class="text-center my-4">Ajouter une pizza</h1>
  <form #pizzaForm="ngForm" (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label>Nom de la pizza</label>
      <input type="text" class="form-control" id="name" name="nom" required [(ngModel)]="newPizza.nom" #nom="ngModel">
      <div [hidden]="nom.valid" class="alert alert-danger">
        le nom de la pizza est requis
      </div>
    </div>
    <div class="form-group">
      <label>Image de la pizza</label>
      <input type="text" class="form-control" id="image" name="image" required [(ngModel)]="newPizza.image" #image="ngModel">
      <div [hidden]="image.valid" class="alert alert-danger">
        Image obligatoire
      </div>
    </div>
    <div class="form-group">
      <label>Taille de la pizza</label>
      <input type="number" class="form-control" id="taille" name="taille" required [(ngModel)]="newPizza.taille" #taille="ngModel">
      <div [hidden]="taille.valid" class="alert alert-danger">
        Taille de la pizza obligatoire
      </div>
    </div>
    <div class="form-group">
      <label>Vegetarienne </label>
      <select class="form-control" id="isVege" name="isVeges" required [(ngModel)]="newPizza.isVege" #isVege="ngModel">
        <option [ngValue]="undefined">choisissez entre vrai ou faux</option>
        <option *ngFor="let isVege of newsIsVege" [ngValue]="isVege">{{isVege}}</option>
      </select>
      <div [hidden]="isVege.valid" class="alert alert-danger">
        Choix obligatoire
      </div>
    </div>
    <input type="submit" class="btn btn-success my-3" [disabled]="!pizzaForm.valid">
  </form>
</div>
